[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = ["npm ci --legacy-peer-deps"]

[phases.build]
cmds = ["npm run build", "npm install -g serve"]

[start]
cmd = "serve dist -s -l $PORT"
